<div class="text-center">
  <h2>{{title}}</h2>
  <p>{{content}}</p>
  <p>Created by {{user.username}} on {{format_date createdAt}}</p>
  <div>
    <h3>Add a Comment: </h3>
    <form>
      <div class="form-group">
        <label for="comment-content">Content:</label>
        <textarea class="form-input" id="comment-content" name="comment-content"></textarea>
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
      </div>
    </form>
    
  </div>
  {{#if comments.length}}
  <div class="col-md-6 comment-list">
    <h3>Current Comments:</h3>

    {{#each comments as |comment|}}
    <div class="row mb-2">
      <div class="col-md-8">
        <h4>{{comment.user.username}}</h4>
        <p>{{comment.content}}</p>
      </div>
    </div>
    {{/each}}
  </div>
  {{/if}}
</div>

<script src="./js/profile.js"></script>
